body{
    margin: 0;
    padding: 0; 
    
}
.main{
    /* border: 1px solid red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    background: url('./images/bgnow-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;   
   /* background-attachment: fixed;
   overflow: hidden; */
}
.holder1{
    /* border: 2px solid green; */
    /* border: 2px solid green; */
    width: 40%;
    height:80vh;
    position: relative;
    /* background: url('./images/back-01-01.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
}
.holder2{
    width: 30%;
    /* border: 2px solid green; */
    height:80vh;
    position: relative;
    /* background: url('./images/back-01-01.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
}
.holder3{
    
    /* border: 2px solid green; */
    width: 30%;
    height:80vh;
    position: relative;
    
}

/* Holder1 CSS */
.holder1 .imgHolder{
/* border: 1px solid red; */
position: absolute;
top: 270px;
left: 5px;
}
.holder1 .carHolder{
    position: absolute;
    bottom: -80px;
    /* border: 1px solid red; */
}
.carHolder .car2{
    /* border: 1px solid     red; */
    margin-bottom: 25px;
    margin-left: 10px;
}
.carHolder .car3{
    margin-left: 10px;
}


/* Holder 2 CSS*/
.mount1{
    width: 30%;
    /* height: 260px; */
    /* border: 1px solid red; */
}
.mount2{
    width: 30%;
    height: 40vh;
    /* height: 260px; */
    /* border: 1px solid red; */
}
.mount3{
    width: 30%;
    /* height: 50vh; */
    /* height: 260px; */
    /* border: 1px solid red; */
}
.holder2 .mountainHolder{
    position: absolute;
    /* border: 1px solid green; */
    top: 315px;
    left: 5px;
}
.holder2 .SecondcarHolder{
    position: absolute;
    /* top: 525px; */
    bottom: -80px;
    /* border: 1px solid red; */
}
.SecondcarHolder .car5{
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 25px;
}


/* holder3 CSS */
.holder3 .animalholder{
    position: absolute;
    /* border: 1px solid green; */
    top: 430px;
    left: 55px;
}
.holder3 img{
    width: 30%;
    /* height: 40vh; */
}
.holder3 .thirdCarHolder{
    position: absolute;
    bottom: -80px;
}
.thirdCarHolder img{
    width: 40%;
    margin-left: 10px;
}
.thirdCarHolder .car8{
    margin-bottom: 20px;
    margin-left: 25px;
}

/* main2 CSS */
/* .main2{
    border: 3px solid red;
    width: 100%;
    height: 75vh;
} */

/* @media(max-width : 1000px){
    .holder1 div{
        position: absolute;
        top:205px;
    }
    .holder2 div{
        position: absolute;
        top:165px;
    }
    .holder3 div{
        position: absolute;
        top:250px;
    }
    .holder3 div img{
        width: 30%;
    } 
} */

@media(max-width:1180px) and (max-height:820px){
    .holder1 .imgHolder{
        position: fixed;
        top:180px;
    } 
    .holder2 .mountainHolder{
        position: absolute;
        top:270px;
    }
    .holder3 .animalholder{
        position: absolute;
        top:450px;
    }
    .holder3 div img{
        width: 30%;
    } 
}
@media (max-width : 1024px) and (max-height : 768px){
    .holder1{
        width:50%;
    }
    .holder2{
        width: 25%;
    }
    .holder3{
        width: 25%;
    }
    .holder1 .imgHolder{
        position: fixed;
        top: 135px;
    } 
    .holder2 .mountainHolder{
        position: absolute;
        top:254px;
    }
    .SecondcarHolder img{
        width: 26%;
    }
    .holder3 .animalholder{
        position: absolute;
        top:470px;
    }
    .holder3 div img{
        width: 31%;
    } 
}

@media(max-width : 915px) and (max-height: 412px){
    .holder1{
        width: 50%;
    }
    .holder2{
        width: 25%;
    }
    .holder3{
        width: 25%;
    }
    .imgHolder img{
        width : 18%;
    }
    .holder1 .imgHolder{
        position: absolute;
        top:30px;
    }
    
    .holder2 .mountainHolder{
        position: absolute;
        top:152px;
    }
    .SecondcarHolder img{
        width: 25%;
    }
  
    .holder3 .animalholder{
        position: absolute;
        top:230px;
    }
    .holder3 div img{
        width: 30%;
    } 
}
@media (max-width : 740px) and (max-height : 360px){
 
    .holder1 .imgHolder{
        position: absolute;
        top:45px;
    }
    .holder1 .carHolder{
        /* display: flex; */
        /* width: 40%; */
        /* width: 10%; */
        margin-bottom: 28px;
    }
    .car3{
        visibility: hidden;
    }
    .car2{
        margin-top: 50px;
    }
    .holder2 .mountainHolder{
        position: absolute;
        top:120px;
    }
    .SecondcarHolder img{
        width: 30%;
        
    }
    .car6{
        visibility: hidden;
    }
    .holder3 .animalholder{
        position: absolute;
        top:210px;
    }
    .holder3 div img{
        width: 30%;
    } 
    .thirdCarHolder{
        margin-bottom: 25px;
    }
}

/*  */
